db_pgconn: dbname=packages
zmq_change: ipc:///tmp/p-vector-changes
path: /mirror/debs
origin: AOSC
label: AOSC OS
codename: Fsck
---
branch: stable
desc: AOSC OS Repository - Stable
ttl: 14
---
branch: stable-proposed
desc: AOSC OS Repository - Stable (Proposed/Candidate Updates)
ttl: 14
---
branch: testing
desc: AOSC OS Repository - Testing
ttl: 7
---
branch: testing-proposed
desc: AOSC OS Repository - Testing (Proposed/Candidate Updates)
ttl: 7
---
branch: explosive
desc: AOSC OS Repository - Explosive
ttl: 2
